.vscode/*
GPATH
GRTAGS
GTAGS
*.exe
*.INP
*.OUT
*.o
Test/*
De2021_2022_A_QuangBinh/chiahet.pas
De2021_2022_A_QuangBinh/timso.pas
De2021_2022_A_QuangBinh/vmax.pas
Them/fp___.err
Them/fp.cfg
Them/fp.dir
