.vscode/templates/template.json
.vscode/templates/file.pas
.vscode/templates/nonfile.pas
.vscode/tasks.json
De2019_2020/out/BAI1/BAI1.exe
De2019_2020/out/BAI1/BAI1.INP
De2019_2020/out/BAI1/BAI1.o
De2019_2020/out/BAI1/BAI1.OUT
.vscode/launch.json
GPATH
GRTAGS
GTAGS
IDK/out/bastion/bastion.exe
IDK/out/bastion/bastion.o
IDK/out/seqgame/seqgame.exe
IDK/out/seqgame/seqgame.INP
IDK/out/seqgame/seqgame.o
IDK/out/seqgame/seqgame.OUT
IDK/out/bastion/bastion.INP
IDK/out/bastion/bastion.OUT
IDK/out/kitu/kitu.exe
IDK/out/kitu/kitu.o
